<div>
    <h2>Tic Tac Toe</h2>
    
    <!-- Tela de Ínicio -->
    <div class="principal">
      <a href="#" class="botao">Jogar</a>
    </div>
    <!-- fim tela inicial -->
  
    <!-- Tabuleiro -->
    <div>
      <ul>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom kz-border-right"></li>
        <li class="kz-border-bottom"></li>
        <li class="kz-border-right"></li>
        <li class="kz-border-right"></li>
        <li></li>
      </ul>
    </div>
  
    <!-- Tela de Resultado -->
    <div>
      <span>
      <p>Vitória!</p>
      <p>Derrota...</p>
      <p>Empate...</p>
      <br />
      <a href="#" class="botao">Jogar novamente</a>
      </span>
    </div>
  
  </div>
  